{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/flowtype", "prettier/react"],
  "plugins": ["flowtype", "react", "prettier", "async-await"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "func-names": 0,
    "no-bitwise": 0,
    "global-require": 0,
    "class-methods-use-this": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": [2, { "allowAfterThis": true, "allow": ["__NEXT_DATA__"] }],
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-unused-expressions": [2, { "allowTaggedTemplates": true }],
    "react/no-danger": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "jsx-a11y/anchor-is-valid": [2, { "components": ["Link"], "specialLink": ["route"], "aspects": ["noHref"] }]
  }
}
